[Unit]
Description=KDE Polkit Agent
After=graphical-session.target

[Service]
Type=simple
ExecStart=/usr/lib/polkit-kde-authentication-agent-1
Restart=on-failure

[Install]
WantedBy=graphical-session.target
