[Unit]
Description=Spotify Player Background Daemon
Documentation=https://github.com/aome510/spotify-player
After=network-online.target
Wants=network-online.target

[Service]
Type=forking
# Run the heavy engine in the background silently
ExecStart=/usr/bin/spotify_player --daemon
Restart=on-failure
RestartSec=5

[Install]
WantedBy=default.target
